body {
  background-color: #dedede !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
h3.pokemon-name {
  text-align: center;
}
.container-fuid, footer {
  margin: 15px;
  padding: 15px;
  width: 90%;
}
.col-xs-4 h3 {
  text-align: center;
}
.pokemon-image {
  margin-top: 10px;
  display: block;
  margin: auto;
}
li.ui-state-focus {
  background-color: #96A8CD;
}
ul.ui-menu {
  background-color: #FFF;
  width: 200px;
}
.ui-helper-hidden-accessible {
  display: none;
}
.search-col {
  padding-top: 25px;
}
footer {
  text-align: center;
}
.search-input#pokemon_name, .search-input#pokemon_name_submit{
  display: block;
  margin-bottom: 20px;
}
.search-input#pokemon_name {
  width:  calc(100% - 76px);
}
/*
span.image {
  display: inline-block;
  width: 261px;
  height: 99px;
}
#bug {
  background: url("types.png") -46px -34px;
}
#dark {
  background: url("types.png") -369px -34px;
}
#dragon {
  background: url("types.png") -688px -34px;
}
#electric {
  background: url("types.png") -45px -196px;
}
#fairy {
  background: url("types.png") -368px -196px;
}
#fighting {
  background: url("types.png") -692px -196px;
}
#fire{
  background: url("types.png") -45px -361px;
}
#flying{
  background: url("types.png") -368px -361px;
}
#ghost{
  background: url("types.png") -692px -361px;
}
#grass{
  background: url("types.png") -46px -529px;
}
#ground{
  background: url("types.png") -368px -529px;
}
#ice{
  background: url("types.png") -692px -529px;
}
#normal{
  background: url("types.png") -45px -696px;
}
#poison{
  background: url("types.png") -368px -695px;
}
#psychic{
  background: url("types.png") 308px -696px;
}
#rock{
  background: url("types.png") -44px -864px;
}
#steel{
  background: url("types.png") -368px -864px  ;
}
#water{
  background: url("types.png") -692px -864px;
}

span.image.alert-success-0-multi{
  background: url("0.png");
  background-repeat: no-repeat;
  height: 74px;
  width: 153px;
  float: right;
  margin-top: 10px;
}
span.image.alert-info-25-multi{
  background: url("25.png");
  background-repeat: no-repeat;
  height: 74px;
  width: 153px;
  float: right;
  margin-top: 10px;
}
span.image.alert-info-50-multi{
  background: url("50.png");
  background-repeat: no-repeat;
  height: 74px;
  width: 153px;
  float: right;
  margin-top: 10px;
}
span.image.alert-warning-1-multi{
  background: url("1.png");
  background-repeat: no-repeat;
  height: 74px;
  width: 153px;
  float: right;
  margin-top: 10px;
}
span.image.alert-danger-2-multi{
  background: url("2.png");
  background-repeat: no-repeat;
  height: 74px;
  width: 153px;
  float: right;
  margin-top: 10px;
}
span.image.alert-danger-4-multi{
  background: url("4.png");
  background-repeat: no-repeat;
  height: 74px;
  width: 153px;
  float: right;
  margin-top: 10px;
}
.alert-success-0, .alert-info-25, .alert-info-50, .alert-warning-1,
.alert-danger-2, .alert-danger-4, .alert-warning {
  height: 131px;
}
*/

/*small*/
span.image {
  display: inline-block;
  width: 131px;
  height: 50px;
}
#bug {
  background: url("types_small.png") -23px -17px;
}
#dark {
  background: url("types_small.png") -184px -17px;
}
#dragon {
  background: url("types_small.png") -344px -16px;
}
#electric {
  background: url("types_small.png") -23px -98px;
}
#fairy {
  background: url("types_small.png") -184px -98px;
}
#fighting {
  background: url("types_small.png") -346px -98px;
}
#fire{
  background: url("types_small.png") -22px -180px;
}
#flying{
  background: url("types_small.png") -184px -180px;
}
#ghost{
  background: url("types_small.png") -346px -180px;
}
#grass{
  background: url("types_small.png") -23px -264px;
}
#ground{
  background: url("types_small.png") -184px -264px;
}
#ice{
  background: url("types_small.png") -346px -264px;
}
#normal{
  background: url("types_small.png") -23px -348px;
}
#poison{
  background: url("types_small.png") -184px -347px;
}
#psychic{
  background: url("types_small.png") -346px -348px;
}
#rock{
  background: url("types_small.png") -22px -431px;
}
#steel{
  background: url("types_small.png") -184px -431px;
}
#water{
  background: url("types_small.png") -346px -431px;
}
span.image.alert-success-0-multi{
  background: url("0_small.png");
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 85px;
  float: right;
}
span.image.alert-info-25-multi{
  background: url("25_small.png");
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 85px;
  float: right;
}
span.image.alert-info-50-multi{
  background: url("50_small.png");
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 85px;
  float: right;
}
span.image.alert-warning-1-multi{
  background: url("1_small.png");
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 85px;
  float: right;
}
span.image.alert-danger-2-multi{
  background: url("2_small.png");
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 85px;
  float: right;
}
span.image.alert-danger-4-multi{
  background: url("4_small.png");
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 85px;
  float: riht;
}
