body {
  background-color: #dedede !important;
}
.container-fuid, footer {
  margin: 15px;
  padding: 15px;
  width: 90%;
}
.col-xs-4 h3 {
  text-align: center;
}
.pokemon-image {
  margin-top: 10px;
  display: block;
  margin: auto;
}
li.ui-state-focus {
  background-color: #96A8CD;
}
ul.ui-menu {
  background-color: #FFF;
  width: 200px;
}
.ui-helper-hidden-accessible {
  display: none;
}
.search-col {
  padding-top: 25px;
}
footer {
  text-align: center;
}
.search-input#pokemon_name, .search-input#pokemon_name_submit{
  display: block;
  margin-bottom: 20px;
}
.search-input#pokemon_name {
  width:  calc(100% - 76px);
}
span.image {
  display: inline-block;
  width: 74px;
  height: 34px;
}
#bug {
  background: url("types.png") 1px 0;
}
#dark {
  background: url("types.png") -62px 0;
}
#dragon {
  background: url("types.png") 74px 0;
}
#electric {
  background: url("types.png") 1px -32px;
}
#fairy {
  background: url("types.png") -62px -32px;
}
#fighting {
  background: url("types.png") 74px -32px;
}

#fire{
  background: url("types.png") 1px -65px;
}
#flying{
  background: url("types.png") -62px -65px;
}
#ghost{
  background: url("types.png") 74px -65px;
}
#grass{
  background: url("types.png") 1px -99px;
}
#ground{
  background: url("types.png") -62px -99px;
}
#ice{
  background: url("types.png") 74px -99px;
}
#normal{
  background: url("types.png") 1px -132px;
}
#poison{
  background: url("types.png") -62px -132px;
}
#psychic{
  background: url("types.png") 74px -132px;
}
#rock{
  background: url("types.png") 1px -166px;
}
#steel{
  background: url("types.png") -62px -166px;
}
#water{
  background: url("types.png") 74px -166px;
}
span.image.alert-success-0-multi{
  background: url("0.png");
  background-repeat: no-repeat;
  height: 25px;
  float: right;
  margin-top: 10px;
}
span.image.alert-info-25-multi{
  background: url("25.png");
  background-repeat: no-repeat;
  height: 25px;
  float: right;
  margin-top: 10px;
}
span.image.alert-info-50-multi{
  background: url("50.png");
  background-repeat: no-repeat;
  height: 25px;
  float: right;
  margin-top: 10px;
}
span.image.alert-warning-1-multi{
  background: url("1.png");
  background-repeat: no-repeat;
  height: 25px;
  float: right;
  margin-top: 10px;
}
span.image.alert-danger-2-multi{
  background: url("2.png");
  background-repeat: no-repeat;
  height: 25px;
  float: right;
  margin-top: 10px;
}
span.image.alert-danger-4-multi{
  background: url("4.png");
  background-repeat: no-repeat;
  height: 25px;
  float: right;
  margin-top: 10px;
}